astroid==1.4.8
backports.functools-lru-cache==1.2.1
beautifulsoup4==4.5.1
codeclimate-test-reporter==0.1.2
configparser==3.5.0
coverage==4.2
enum34==1.1.6
flake8==3.0.4
html5lib==0.999999999
isort==4.2.5
lazy-object-proxy==1.2.2
lxml==3.6.1
mccabe==0.5.2
nltk==3.2.1
numpy==1.11.1
pandas==0.18.1
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pylint==1.6.4
pytest==2.9.2
pytest-cov==2.3.1
pytest-flake8==0.6
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.1
six==1.10.0
webencodings==0.5
wrapt==1.10.8
xlrd==1.0.0
