beautifulsoup4==4.5.1
configparser==3.5.0
coverage==4.2
enum34==1.1.6
flake8==3.0.4
html5lib==0.999999999
lxml==3.6.1
mccabe==0.5.2
numpy==1.11.1
pandas==0.18.1
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==2.9.2
pytest-cov==2.3.1
pytest-flake8==0.6
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
webencodings==0.5
