/* This style sheet is intended for non - IE browsers, specifically Netscape. */
/* Due to CSS problems (or differences?) in early releases of Netscape 6 it is important to define a HOVER property for most elements- even text! Also, we found that the HOVER definition had to be placed *above* the standard style */
/* Another difference between this style sheet and the netscape one is font size. We found that a font size of 7 points did not render very well in Netscape 4.7, so we raised these to 8 points */

BODY {
	background : #FFFFFF;
	margin : 0 0;
	color : #454545;
}

H1 {
	color: #3B4FAE;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-weight : bold;
}

H2 {
	color: #5D6FC7;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}

h3 {
	color: #454545;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : bold;
}

h4 {
	color: #1E2A63;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
}

h5 {
	color: #1E2A63;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
	font-style: italic;
}

H6 {
	color: #1E2A63;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
}

CODE {
	color: #919191;
	font-family : Courier;
	font-weight : normal;
	font-size : 8pt;
}

PRE {
	background : #FFFFFF;
	margin : 0 0;
	font-family : courier;
	font-size : 8pt;
	color : #454545;
}

B.blue {
	color: #3B4FAE;
	font-weight : bold;
}

th {
	font-size : 10pt; 
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
}

.center {text-align: center;}

.right {text-align: right;}

.em2 {margin-left: 2em;}
.em4 {margin-left: 4em;}
.em6 {margin-left: 6em;}
.em8 {margin-left: 8em;}

.boxalert10 {
	font-size: 10pt;
	border: thin solid white;
	padding: 0.5em;
	background: #EEEEEE;
}

.margin-0 {
margin: 0;
}

.spacing-9 {
	margin-bottom: 9px;
}

/* Used to easily define blocks of text that should have a smaller font size. */
/* Though not used, the Hover property is required for Netscape compatibility issues. */
.small:Hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
}
.small {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
}
.small P:Hover {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
}
.small P {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 7pt;
}



/* default table and misc tags*/
/* netscape has seemingly buggy CSS support and requires some very specific definition here */
TABLE {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
P {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
OL {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
UL {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}
LI {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
}



/* default link properties */
/* old blue Link color 3B4FAE */
/* removing the general A declaration to prevent <a name> elements from displaying as a link -- though for this stylesheet, this seems benign; ie.css declared a color; rjr 9/8/06 */

/* A {

	text-decoration: none;
} */


A:Hover  {
	color : #BF0023;
	text-decoration: underline;
}

A:Visited {
	color : #680013;
	text-decoration: underline;
}

A:Active {
	color : #BF0023;
	text-decoration: underline;
}

A:Link {
	color : #BF0023;
	text-decoration: underline;
}

/* light gray text with white hover */
/* used on front page as main headings */
A.search:Link  {
                color : #0033CC;
                text-decoration: underline;
                font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 11pt;
                font-weight : normal;
  }
A.search:Visited  {
                color : #330099;
                text-decoration: underline;
                font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 11pt;
                font-weight : normal;
  }
A.search:Hover  {
                color : #0066FF;
                text-decoration: underline;
                font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 11pt;
                font-weight : normal;
                }
A.search  {
                color : #0033CC;
                text-decoration: none;
                font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 11pt;
                font-weight : normal;
  }

/* slightly gray/off-white link, underline on hover */
/* used for white/gray text in blue areas */
.gray A:Active {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :8pt;
	color : #E6E6E6;
	text-decoration: none;
  }
.gray A:Hover  {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #E6E6E6;
	text-decoration: underline;
		 }
.gray A {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :8pt;
	color : #E6E6E6;
	text-decoration: none;
  }
.gray {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : #E6E6E6;
}

.searchText {
	font-family: verdana;
	padding: 0px;
	border-width:0px;
	margin:0px;
	border-style:none;
	
}

		 
/* red link with underline on hover */
/* used on all "more..." links */
A.more:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-size : 8pt;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
A.more {
	color : #BF0023;
	text-decoration: underline;
	font-size : 8pt;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* dark gray text with red hover */
/* used on sidebar for main links */
A.nav:Active {
		color : #4D4D4D;
		text-decoration: none;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 8pt;
}
A.nav:Hover  { 
		color : #BF0023;
		text-decoration: underline; 
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 8pt;
}
A.nav {
		color : #4D4D4D;
		text-decoration: none;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 8pt;
}

/* dark gray text with blue hover */
/* used on sidebar for subcategory links */
.navsub A:Active {
	color : #4D4D4D;
	text-decoration: none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
.navsub A:Hover  {
	color : blue;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}
.navsub A {
	color : #4D4D4D;
	text-decoration: none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
}


/* red link with red underline on hover */
/* used for Hot Topics on sidebar */
.hot A:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	}		
.hot A {
	color : #BF0023;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
    }

	
/* blue link with red underline on hover */
/* used for 'Download Forms' and 'Contact Us' on sidebar */
.navbot A:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	}	
.navbot A {
	color : blue;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
    }
	

/* dark blue/red link, underline on hover */
/* used on footer */
.footer A:Active {
	color : #3B4FAE;
	text-decoration: none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
    }
.footer A:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	}		
.footer A {
	color : #3B4FAE;
	text-decoration: none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
    }
	
	
	
/* red link, underline on hover, similar to default links */
/* used on menu-level pages as main category links */
A.mainCat:Link {
	color : #BF0023;
	text-decoration: none;
}
A.mainCat:Visited {
	color : #BF0023;
	text-decoration: none;
}
A.mainCat:Active {
	color : #BF0023;
	text-decoration: underline;
}
A.mainCat:Hover  {
	color : #BF0023;
	text-decoration: underline;
}
A.mainCat {
	color : #BF0023;
	text-decoration: none;
}


/* darker gray/red link, underline on hover */
/* used on menu-level pages as subcategory links */
A.subCat:Active {
	color : #737373;
    text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
 }
A.subCat:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
 }
A.subCat {
	color : #737373;
    text-decoration: none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
 }

/* darker gray/red link, underline on hover */
/* same as subCat except 9 point instead of 8 */
A.subCat9:Link {
	color : #737373;
	text-decoration: None;
	font-size : 9pt;
  }
A.subCat9:Visited {
	color : #737373;
	text-decoration: None;
	font-size : 9pt;
  }
A.subCat9:Hover  {
	color : #BF0023;
	text-decoration: underline;
	font-size : 9pt;
}		
A.subCat9 {
	color : #737373;
	text-decoration: None;
	font-size : 9pt;
}
  
/* used on menu-level pages as subcategory descriptions */
/* netscape 6 (first release) requires a hover property to be defined although it is definitely not used - styles will not work without the hover */
.subText:Hover {
	color : #737373;
	text-decoration: none;
	font-size : 9pt;
	font-style : italic;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}	
.subText {
	color : #737373;
	text-decoration: none;
	font-size : 9pt;
	font-style : italic;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}	
/* blue text - like an H2 */
/* used on menu-level pages as headings that are not links */
.headerNoLink:Hover {
	color: #5D6FC7;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
  }
.headerNoLink {
	color: #5D6FC7;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;
  }
  
/* light gray text with white hover */
/* used on front page as main headings */

A.mainFront:Active  {
		color : #E6E6E6;
		text-decoration: none;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 10pt;
		font-weight : bold;
}
A.mainFront:Hover  { 
		color : #E6E6E6;
		text-decoration: underline; 
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 10pt;
		font-weight : bold;
		}
A.mainFront  {
		color : #E6E6E6;
		text-decoration: none;
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 10pt;
		font-weight : bold;
  }

  
  

/* for table layouts */
/* creates gray TD underline and dark gray link with red hover */
.subLines A:Active {
	color : #4D4D4D;
	text-decoration: none;
	font-size : 8pt;
	font-weight : normal;
}
.subLines A:Hover  { 
		color : #BF0023;
		text-decoration: none;
		font-size : 8pt;
		font-weight : normal;
}
.subLines A {
	color : #4D4D4D;
	text-decoration: none;
	font-size : 8pt;
	font-weight : normal;
}
.subLines {
	border-bottom-width : 1px;
	border-top-width : 0px;
	border-right-width : 0px;
	border-left-width : 0px;
	border-color : #C6C8D3;
	border-style : solid;
}	


/* dark gray link with no hover differences */
/* used on front page for Information For section */
.infoBorder A:Active {
	color : #3B4FAE;
	text-decoration : None;
	font-size : 8pt;
	}
.infoBorder A:Hover  {
	color : #BF0023;
	text-decoration : None;
	font-size : 8pt;
	}
.infoBorder A {
	color : #3B4FAE;
	text-decoration : None;
	font-size : 8pt;
	}
.infoBorder TD {
	border-bottom-width : 1px;
	border-top-width : 0px;
	border-right-width : 0px;
	border-left-width : 0px;
}
.infoBorder {
	border-color :  #960019;
	border-style : solid;
	border-bottom-width : 0px;
	border-top-width : 1px;
	border-right-width : 1px;
	border-left-width : 1px;
}



/* these may not be used anywhere */
/* almost white text - mini font */
A.gray_mini:Hover  {
	color : #E6E6E6;
	text-decoration: underline;
	font-size : 7pt;
}
A.gray_mini {
	color : #E6E6E6;
	text-decoration: underline;
	font-size : 7pt;
  }


/* dark gray link with no hover differences */

TD.navBar {
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size : 8pt;
}


/* Unordered list with right-facing blue arrows for bullets */
ul.arrowright_dkblue {
  list-style-image:url(/images/arrowright_dkblue.gif);
}

/* Unordered list with orange dots for bullets */
ul.dot_orange {
  list-style-image:url(/images/dot_orange.gif);
}

/* Flush-left aligned unordered list with right-facing blue arrows for bullets*/
ul.fl_arrowright_dkblue {
  margin-left:0;
  padding-left:1.5em;
  list-style-image:url(/images/arrowright_dkblue.gif);
}

/* Flush-left aligned unordered list with orange dots for bullets */
ul.fl_dot_orange {
  margin-left:0;
  padding-left:1.5em;
  list-style-image:url(/images/dot_orange.gif);
}
